<%= link_to "See All Students", students_path %><br>
<%= link_to "See All Lectures", lectures_path %><br><br>

<h1>All Instructors</h1>

<%= link_to "+ Instructor", new_instructor_path %>
<% @instructors.each do |instructor| %>
  <p><%= link_to instructor.full_name, instructor_path(instructor) %></p>
<% end %><br>
